<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css"
          th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6"><h1>Edit User</h1>
    <form th:object="${user}" th:action="@{save}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="Enter Name"/>
        </div>
        <div style="clear: both;display: block;height: 10px"></div>
        <div>
            <label th:text="Age" th:for="age"></label>
            <input type="text" class="form-control" th:field="*{age}" placeholder="Enter Age"/>
        </div>
        <div style="clear: both;display: block;height: 10px"></div>
        <div>
            <label th:text="Salary" th:for="salary"></label>
            <input type="text" class="form-control" th:field="*{salary}" placeholder="Enter salary"/>
        </div>
        <div style="clear: both;display: block;height: 10px"></div>
        <input type="submit" value="Save" class="btn btn-success"/>
    </form></div>
</body>
</html>