<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css"
    th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3">
    <div class="input-group">
        <input type="search" placeholder="Enter Name" class="form-control border-0 bg-light">
        <input type="submit" value="Search" class="btn btn-success"/>
</div>
<div class="container col-6">
    <h1>User CRUD action</h1>
    <table class="table table-active">
        <tr>
            <th>name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>CRUD</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.name}"></td></br>
            <td th:text="${user.age}"></td></br>
            <td th:text="${user.salary}"></td></br>
            <td>
                <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/add" class="btn btn-success">Create new User</a>
</div>
</body>
</html>